<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/styles.css">
        <title>Thank You!</title>
    </head>
    <body>
        <div class="container thanks">
            <img src="../static/Adam-Kocher-Logo-A.png" alt="" class="logo" />
            <h1>Thank You!</h1>
            <h2>Thank you for rating your experience. We hope to see you soon!</h2>
        </div>
    </body>
</html>